@import url("/css/global/boilerplate.css");
@import url("/css/global/fonts.css");

header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    margin-left: 10px;
    margin-right: 10px;
}

header h1 {
    color: var(--text-color)
}

.navlinks {
    background-color: var(--primary-color);
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 10px;
}

.navlinks li {
    margin-left: 20px;
    margin-right: 20px;
}

.navlinks li a {
    text-decoration: none;
    /* Remove underline */
    color: var(--text-color);
    /* Set text color */
}

.carousel {
    width: 100%;
    /* Adjust the width as needed */
    /* Adjust the height as needed */
    margin: 0 auto;
}

.carousel img {
    max-height: 600px;
    /* Adjust the height as needed */
    object-fit: cover;
    /* Ensure the image covers the area without distortion */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}